
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: ($space / 3) $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;

    &:hover,
    &:focus {

    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: 0;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: #ddd;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn-primary {
    background: darken($blue, 20%);
    color: $white;
    font-weight: bold;
    border-radius: 100px;

    &.inactive {
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn--block {
    width: 100%;
}
